:root {
    --primary-highlight: rgba(252, 163, 17, 1);
    --secondary-highlight: rgba(20, 33, 61, 1);
}

body, article, header, section, nav, ul, li, a, footer {
    margin: 0;
    padding: 0;
}

body {
    padding: 2% 30% 0; 
    font-family: 'Open Sans', sans-serif;
}

header {
    border-color: black;
    border-bottom: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

header ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--primary-highlight);
    font-weight: bold;
}

nav a:hover {
    color: var(--secondary-highlight);
}

section {
    
}

footer {
    font-size: 0.6em;
    margin-top: 10px;
}

.selected-link {
    color: var(--secondary-highlight);
    pointer-events: none;
    cursor: default; 
}
